.admin-view {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.admin-view h1 {
    text-align: center;
}

.admin-view .create-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.admin-view .create-button:hover {
    background-color: gray;
    color: #fff;
}

.admin-view .forms-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}