.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

.new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 80px;

  input {
    font-size: inherit;
  }

  input::placeholder {
    font-size: inherit;
    opacity: 1;
    color: #000;
  }

  input:focus {
    outline: none;
  }

  input:focus::placeholder {
    opacity: 0.5;
  }
}

.form-info {
  background-color: var(--gray);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.form-title {
  font-size: 36px;
}

.form-description {
  font-size: 24px;
  font-weight: 200;

  textarea {
    font: inherit;
    font-size: inherit;
    width: 100%;
    border: none;
    resize: none;
  }

  textarea::placeholder {
    font-size: inherit;
    opacity: 1;
    color: #000;
  }

  textarea:focus {
    outline: none;
  }

  textarea:focus::placeholder {
    opacity: 0.5;
  }
}

#add-field {
  border: 2px solid var(--primary-blue);
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#add-field:hover {
  background-color: var(--primary-blue);
  color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.question-box {
  border: 2px solid var(--primary-blue);
  display: flex;
  flex-direction: column;
  
  button {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }

  button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.question-box-header{
  display: flex;
  justify-content: space-between;
  height: 50px;

  #question-name {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid var(--primary-blue);
    width: 50%;
  }
}

.question-box-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-height: 50px;
  font-size: 20px;
  padding: 10px 0;
  gap: 10px;

  > * {
    height: 30px;
  }

  input:disabled {
    font-style: italic;
    opacity: 0.5;
  }

  div {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 16px;
    border-bottom: 1px solid var(--gray);
  }
}

.type-select {
  border: 1px solid var(--primary-blue);
  border-radius: 15px;
  width: 25%;
  height: 100%;
}

.question-box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


.add-option {
  background-color: var(--primary-blue);
  color: var(--white);
  font-size: 20px;
  width: 200px;
}

.delete-button {
  color: red;
  height: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.accept-button {
  background-color: #0da025;
  color: var(--white);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  width: 200px;
}
/*


.delete-button:hover {
  background-color: red;
  color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
} */


/* .main-section input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input {
  margin-top: 20px;
  font-size: xx-large;
}

.description-input {

}

.text-area {
  margin-top: 20px;
  font-size: medium;
  font-family: 'Arial', sans-serif;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.add-question-section{

}

.add-question{

}

.add-question select{

}

.question-section{

}

.questions{

}



.question-box input{

}

.question-box button{

} */