.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  height: 100vh;
}

.form-info{
  border: 1px solid blue;
  border-radius: 15px;
  width: 800px;
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  input {
    font-size: inherit;
  }

  input::placeholder {
    font-size: inherit;
    opacity: 1;
    color: #000;
  }

  input:focus {
    outline: none;
  }

  input:focus::placeholder {
    opacity: 0.5;
  }
}

.form-title {
  font-size: 36px;
}

.form-description {
  font-size: 24px;
  font-weight:100;

  textarea {
    font: inherit;
    font-size: inherit;
    width: 100%;
    border: none;
    resize: none;
  }

  textarea::placeholder {
    font-size: inherit;
    opacity: 1;
    color: #000;
  }
}


/* .main-section input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input {
  margin-top: 20px;
  font-size: xx-large;
}

.description-input {

}

.text-area {
  margin-top: 20px;
  font-size: medium;
  font-family: 'Arial', sans-serif;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.add-question-section{

}

.add-question{

}

.add-question select{

}

.question-section{

}

.questions{

}

.question-box{

}

.question-box input{

}

.question-box button{

} */