@font-face {
  font-family: 'InterVariable';
  src: local('InterVariable'), /* Busca la fuente localmente */
       url('./assets/fonts/InterVariable.ttf') format('truetype'); /* Si no está localmente, la carga del archivo */
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'InterVariable';
  src: local('InterVariable'), /* Busca la fuente localmente */
       url('./assets/fonts/InterVariable-Italic.ttf') format('truetype'); /* Si no está localmente, la carga del archivo */
  font-weight: 100 900;
  font-style: italic;
}

:root{
  font-family: 'InterVariable', 'Arial', sans-serif;
  --primary-blue: #0D3996;
  --dark-blue: #021135;
  --white: #FFFFFF;
  --gray: #D5D5D5;
  --yellow: #FBB92A;
  --orange: #F95125;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

input {
  border-style: none;
}

.container {
  width: 800px;
  min-height: 200px;
  padding: 23px;
  border-radius: 15px;
}
